{% extends "base.html" %}
{% block body_class %}login-page{% endblock body_class %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Left Column for Image -->
        <div class="col-md-6 d-none d-md-block">
            <img src="https://res.cloudinary.com/dnbbm9vzi/image/upload/v1736002982/product_development___idea_thought_innovation_teamwork_working_together_document_people_2x_1_jn1eoh.png"
                class="img-fluid" alt="Background Image" style="width: 100%; height: auto;">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center bg-dark text-white mb-5">
                    <h1>
                        {% if token_fail %}
                        {% trans "Bad Token" %}
                        {% else %}
                        {% trans "Change Password" %}
                        {% endif %}
                    </h1>
                </div>
                <div class="card-body">
                    {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p class="text-danger">
                        {% blocktrans %}
                        The password reset link was invalid, possibly because it has already been used. Please request a
                        <a href="{{ passwd_reset_url }}">new password reset</a>.
                        {% endblocktrans %}
                    </p>
                    {% else %}
                    {% url 'account_reset_password_from_key' as action_url %}
                    <form method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ redirect_field }}
                        {{ form.as_p }}
                        <div class="d-grid gap-2 social-login-buttons">
                            <button type="submit" class="btn btn-dark btn-lg mt-5">
                                {% trans 'Change Password' %}
                            </button>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
