{% extends "base.html" %}
{% block body_class %}login-page{% endblock body_class %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Left Column for Image -->
        <div class="col-md-6 d-none d-md-block">
            <img src="https://res.cloudinary.com/dnbbm9vzi/image/upload/v1736002982/product_development___idea_thought_innovation_teamwork_working_together_document_people_2x_1_jn1eoh.png" 
                 class="img-fluid" 
                 alt="Background Image" 
                 style="width: 100%; height: auto;">
        </div>

        <!-- Right Column for Password Reset Form -->
        <div class="col-md-6">
    <h1 class="mb-4">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% trans "Forgotten your password? <br> Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
    {% url 'account_reset_password' as reset_url %}
    <form method="post" action="{{ reset_url }}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_email" class="mb-3">{% trans "Email address" %}</label><br>
            {{ form.email }}
        </div>
        <div class="social-login-buttons">
        <button type="submit" class="btn btn-dark btn-lg mt-4">{% trans "Reset My Password" %}</button>
    </div>
    </form>
    <p class="mt-5">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
</div>
</div>
{% endblock content %}


