{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Left Column for Image -->
        <div class="col-md-6 d-none d-md-block">
            <img src="https://res.cloudinary.com/dnbbm9vzi/image/upload/v1726659395/Coder_ISO_Back-2_2_ciqgxx.png" 
                 class="img-fluid" 
                 alt="Background Image" 
                 style="width: 100%; height: auto;">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white mb-3">
                    <h1 class="h4 mb-0">{% trans "Change Password" %}</h1>
                </div>
                <div class="card-body">
                    {% url 'account_change_password' as action_url %}
                    <form method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ redirect_field }}
                        <div class="mb-3">
                            {{ form.as_p }}
                        </div>
                        <div class="d-flex justify-content-between align-items-center social-login-buttons mt-5">
                            <button type="submit" class="btn btn-dark">
                                {% trans "Change Password" %}
                            </button>
                            
                            <a href="{% url 'account_reset_password' %}" class="btn btn-link text-dark">
                                {% trans "Forgot Password?" %}
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
