<!-- Mobile Navigation -->
<div class="d-flex align-items-center justify-content-between">
    <!-- Hamburger Menu (Left) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Logo (Center) -->
    <a class="navbar-brand mx-auto" href="{% url 'home' %}" style="margin-right: auto; margin-left: auto;">
        <img src="https://res.cloudinary.com/dnbbm9vzi/image/upload/v1732111106/Screenshot_2024-11-20_at_1.57.54_PM-removebg-preview_q5y8br.png"
            alt="Logo" class="logo-image" style="width: 140px; margin-left: 40px; margin-right: 35px;">
    </a>

    <!-- Sign In Button (Right) -->
    {% if not user.is_authenticated %}
    <a class="btn btn-dark btn-sm rounded-pill text-white d-lg-none" 
       href="https://jessster-476efeac7498.herokuapp.com/admin" style="margin-left: auto;">Sign in</a>
    {% endif %}
</div>